.footerContents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 720px;
    width: 80%;
}

.about {
    color: white;
    font-family: bio-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.snsIcon {
    height: 50px;
}